.task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.task-box:hover span{
    opacity: 1;
}

.task-box p {
    font-size: 1.2rem;
}

.task-box span {
    background-color: rgb(1, 204, 1);
    width: 30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
    opacity: 0;
}

.task-box span img {
    width: 20px;
    height: 20px;
}