.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.list-wrapper h1 {
    color: #4d8de2;
}

.list-wrapper .search-box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 90%;
}

.list-wrapper .search-box input {
    width: 40%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

.list-wrapper .search-box button {
    background-color: #8e48ea;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s all;
}

.list-wrapper .search-box button:hover {
    background-color:#802feb;
}

.list-wrapper .tasks-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}